<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script> 
</head>
<body>
    <div  ng-app="myApp">
      <div ng-init="firstName='John'">
        <p>在输入框中尝试输入：</p>
        <p>姓名：<input type="text" ng-model="firstName"></p>
        <p>你输入的为：{{firstName}}</p>
      </div>
      <div ng-init="quality=1;price=5">
        <h2>价格计算器</h2>
        数量：<input type="number" ng-model="quality">
        价格：<input type="number" ng-model="price">
        <p><b>总价：</b>{{quality*price}}</p>
      </div>

      <div ng-init="names=['Jani','Hege','kai']">
        <p>使用ng-repeat 来循环数组</p>
        <ul>
          <li ng-repeat="x in names">
            {{x}}
          </li>
        </ul>
      </div>

      <!--直接作为元素
      <runoob-directive></runoob-directive>-->
      <!--作为属性
      <div runoob-directive></div>-->
      <!--类名
      <div class="runoob-directive"></div>-->
      <!--注释-->
      <!-- directive:runoob-directive -->
    </div>
    
    <script type="text/javascript">
      var app=angular.module("myApp",[]);
      app.directive("runoobDirective",function(){
        return{
          //restrict:"C",//必须设置restrict属性为C，才能通过类名来调用指令
          restrict:"M",//必须设置restrict属性为M，才能通过注释来调用指令
          replace:true,//否则评论不可见
          template:"<h1>自定义指令2</h1>"
        };
      });
    </script>
	 
</body>

</html>